.header {
  width: 100%;
  height: 114px;
  padding: 27px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #13171C;
}
@media (min-width: 768px) {
  .header {
    height: 121px;
    padding: 27px 83px;
    border-bottom: solid 1px #eeeeee1a;
  }
}
.header__home-logo {
  width: 60px;
  height: 60px;
}

.header__menu-logo {
  width: 40px;
  height: 40px;
}
@media (min-width: 768px) {
  .header__menu-logo {
    display: none;
  }
}
.header__menu-nav {
  display: none;
}
@media (min-width: 768px) {
  .header__menu-nav {
    width: 327px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.header__menu-nav__link {
  color: #eeeeee;
  font-size: 18px;
  text-decoration: none;
}

/* Ventana del menú mobile */
/* Ventana del menú (La que aparece al tocar el menú) */
.header__menu-window {
    display: none; /* Se activa con el flex del JS */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #13171c;
    z-index: 9999; /* Muy alto para que nada lo tape */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* El botón de cerrar (X) */
.header__menu-window__close-div {
    position: absolute;
    top: 30px;
    right: 30px;
}

.header__menu__close-btn {
    width: 30px;
    cursor: pointer;
}

/* Contenedor de links en Mobile */
.header__menu__link {
    display: block; /* Para que el área de clic sea más ancha */
    padding: 10px 0;
    font-size: 32px;
    color: #ffffff !important;
    text-decoration: none;
}

.header__menu__link {
    color: #ffffff !important;
    font-size: 32px;
    text-decoration: none;
    transition: color 0.3s;
}

.header__menu__link:hover {
    color: #00adb5 !important;
}

.header__home-logo,
.header__menu-logo,
.footer__link-icon {
  filter: brightness(0) invert(1);
  transition: transform 0.3s ease;
}

.header__home-logo:hover {
  transform: scale(1.05);
}

/* --- LINKS DESKTOP --- */
.header__menu-nav__link {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #eeeeee;
  transition: color 0.3s ease;
}

.header__menu-nav__link:hover {
  color: #00adb5;
}

.header__menu__link {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #eeeeee;
  transition: letter-spacing 0.3s ease, color 0.3s ease;
}

.header__menu__link:hover {
  color: #00D1FF;
  letter-spacing: 2px;
}